# Flask
# ------------------------------------------------------------------------------
Flask==2.3.3  # https://pypi.org/project/Flask/2.3.3/
Flask-Bcrypt==1.0.1  # https://pypi.org/project/Flask-Bcrypt/1.0.1/

# MySQL connector
# ------------------------------------------------------------------------------
pymysql==1.1.0  # https://pypi.org/project/PyMySQL/1.1.0/

# Third party packages
# ------------------------------------------------------------------------------
python-dotenv==1.0.0  # https://pypi.org/project/python-dotenv/1.0.0/
